body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ddd7d7;
    color: #fff;
    text-align: center;
    padding: px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav ul li:hover{
    background-color: rgb(99, 99, 99);
    -webkit-transform: scale(0.5s);
    transform: scale(0.5s);
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    height: 550px;
    width: 450;
    margin-left: 150px;

}

.sala{
    border: 7px dotted rgb(133, 123, 123);
    
}

.imagem1{
    width: 292px;
    height: 292px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.imagem1{
    transition: all 0.5s;
    cursor: pointer;}

.imagem1:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.imagem2{
    width: 292px;
    height: 292px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.imagem2{
    transition: all 0.5s;
    cursor: pointer;}
    
.imagem2:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.imagem3{
    width: 292px;
    height: 292px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.imagem3{
    transition: all 0.5s;
    cursor: pointer;}
    
.imagem3:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.imagem4{
    width: 292px;
    height: 292px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
.imagem4{
    transition: all 0.5s;
    cursor: pointer;}
    
.imagem4:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

h2{
    margin: 30px;
    padding: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
